/src/cloneme

*.o
*.la
*.lo
*~
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

Makefile
# not needed delete it!
Makefile.in*
# needed keep it
!Makefile.am

/mkinstalldirs
/src/slates
/Debug

/libtool
/stamp-h1
/po/stamp-it
/po/POTFILES

# http://www.gnu.org/software/autoconf

/intltool*.in

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.*
/ltmain.sh
